<div
  class="p-4 bg-slate-100 rounded-lg flex flex-col gap-2"
  id="org-{{.ID}}"
  hx-get="/minimize?id={{.ID}}"
  hx-swap="outerHTML"
>
  <div>
    <h2 class="text-xl font-semibold">{{.Name}}</h2>
    <p>{{.City}}, {{.County}}</p>
  </div>
  <table class="p-4 bg-slate-200 rounded-md">
    <tr>
      <th>Type</th>
      <th>Rating</th>
      <th>Visa Route</th>
    </tr>
    {{range .Jobs}}
    <tr>
      <td>{{.Type}}</td>
      <td class="min-w-fit whitespace-nowrap">{{.Rating}}</td>
      <td>{{.VisaRoute}}</td>
    </tr>
    {{end}}
  </table>
</div>
