{{block "main" .}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UK Visa Sponsors</title>
    <script
      src="https://unpkg.com/htmx.org@1.9.8"
      integrity="sha384-rgjA7mptc2ETQqXoYC3/zJvkU7K/aP44Y+z7xQuJiVnB/422P/Ak+F/AqFR7E4Wr"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <form
      hx-post="/search?page=0"
      hx-swap="innerHTML"
      hx-target="results-block"
    >
      <div>
        <label for="name-input"></label
        ><input type="text" name="org_name" id="name-input" />
      </div>
      <div>
        <label for="city-input"></label
        ><input type="text" name="city" id="city-input" />
      </div>
      <div>
        <label for="county-input"></label
        ><input type="text" name="county" id="county-input" />
      </div>
      <div>
        <label for="type-rating-input"></label
        ><input type="text" name="job_type_rating" id="type-rating-input" />
      </div>
      <div>
        <label for="route-input"></label
        ><input type="text" name="visa_route" id="route-input" />
      </div>
      <button type="submit">Search</button>
    </form>
    {{template "index" .}}
  </body>
</html>
{{end}} {{block "index" .}}
<div id="results-block">
  {{template "results" .}}
  <div
    hx-target="#results-block"
    hx-swap="beforeend"
    hx-trigger="revealed"
    hx-get="/index?page={{.Next}}"
  >
    Page Break
  </div>
</div>
{{end}} {{block "query" .}}
<div id="results-block">
  {{template "results" .}}
  <div
    hx-target="#results-block"
    hx-swap="beforeend"
    hx-trigger="revealed"
    hx-get="/search?page={{.Next}}"
  >
    Page Break
  </div>
</div>
{{end}} {{block "results" .}}
<div class="grid grid-cols-3 max-w-7xl gap-4">
  {{range .Data}}
  <div
    class="bg-slate-100 flex flex-col p-4 rounded-lg justify-between min-w-fit max-w-lg gap-2"
    data-org-id="{{.ID}}"
  >
    <h1 class="text-2xl font-bold">{{.Name}}</h1>
    <div
      class="flex flex-col gap-2 justify-start items-start p-2 bg-slate-200 text-start rounded-md"
    >
      <div>
        {{.City}}
        <wbr />
        {{.County}}
      </div>
      <div>{{.TypeRating}}</div>
      <div>{{.Route}}</div>
    </div>
  </div>
  {{end}}
</div>
{{end}}
