<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UK Visa Sponsors</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      src="https://unpkg.com/htmx.org@1.9.9"
      integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="min-h-screen">
      <div class="flex flex-col items-center justify-start w-full gap-4 p-8">
        <search
          id="search-box"
          class="bg-slate-100 p-4 rounded-lg max-w-7xl w-full flex flex-row h-24"
        >
          <select
            name="param"
            id="search-by"
            class="p-2 rounded-l-md h-full bg-blue-400 hover:bg-blue-500"
          >
            <option value="" disabled selected hidden>Search By...</option>
            <option value="city">City</option>
            <option value="jobType">Job Type</option>
            <option value="jobRating">Job Rating</option>
            <option value="jobVisaRoute">Visa Route</option>
          </select>
          <input type="text" class="p-2 w-auto flex-grow h-full" />
          <button
            type="submit"
            class="rounded-r-md h-full p-2 bg-blue-400 hover:bg-blue-500"
          >
            Search
          </button>
        </search>

        <div class="grid grid-cols-3 gap-4 max-w-7xl" id="results-display">
          {{block "companies" .}} {{range .Data}} {{block
          "job-card-minimized".}}
          <div
            class="p-4 bg-slate-100 rounded-lg flex flex-row gap-2 justify-between"
            id="org-{{.ID}}"
          >
            <div>
              <h2 class="text-xl font-semibold">{{.Name}}</h2>
              <!-- TODO: Add logic to rewrite this string before sending it to template -->
              <p>{{.City}}, {{.County}}</p>
            </div>
            <div
              class="p-4 bg-slate-200 rounded-md text-2xl font-bold cursor-pointer hover:bg-slate-300"
              hx-get="/organisation?id={{.ID}}"
              hx-target="#org-{{.ID}}"
              hx-swap="outerHTML"
            >
              {{.Jobs}}
            </div>
          </div>
          {{end}} {{else}}
          <p class="p-4 bg-slate-100 rounded-lg">
            No jobs found for these conditions
          </p>
          {{end}}
          <div
            id="next-page"
            class="h-1 col-span-3"
            hx-get="/organisations?cursor={{.Cursor}}"
            hx-trigger="revealed"
            hx-target="#results-display"
            hx-swap="beforeend"
          ></div>
          {{end}}
          <!-- This will trigger the infinite scrolling! -->
        </div>
      </div>
      <footer class="w-full text-center bg-slate-100 p-4">
        <!-- footer stuff idk. I'm not into footer stuff -->
        Made by Joshua Kellogg
      </footer>
    </div>
  </body>
</html>
